.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.wrapper > div {
  padding: 0.25rem;
  background-color: #f3f4f6;
  border: 2px solid #f3f4f6;
}

.wrapper > div.active {
  border-color: #6b7280;
}

.radius {
  height: 1.75rem;
  width: 1.75rem;
  border-color: #cccccc;
  border-width: 2px;
  border-width: 2px;
  cursor: pointer;
}

.radius.xs {
  border-radius: 0.125rem;
}

.radius.sm {
  border-radius: 0.25rem;
}

.radius.md {
  border-radius: 0.375rem;
}

.radius.lg {
  border-radius: 0.5rem;
}

.radius.xl {
  border-radius: 0.75rem;
}

.radius.full {
  border-radius: calc(infinity * 1px);
}
